.blog-form {
  padding: var(--sb-space-xl);

  &__heading {
    color: var(--sb-color-grey-7);
    font-size: var(--sb-font-size-xl);
    font-weight: var(--sb-font-weight-bold);
    line-height: var(--sb-line-height-l);
    margin-top: 0;
  }

  &__form-group {
    border: none;
    display: flex;
    flex-direction: column;
    gap: var(--sb-space-xs);
    padding: 0;
    margin: 0 0 var(--sb-space-xl);

    input,
    select,
    textarea {
      line-height: var(--sb-line-height-m);
      padding: var(--sb-space-s) var(--sb-space-m);
      background-color: var(--sb-color-grey-1);
      border: 1px;
      border-radius: var(--sb-border-radius-s);
    }
  }

  &__label,
  .notification {
    color: var(--sb-color-grey-5);
    font-size: var(--sb-font-size-s);
    line-height: var(--sb-line-height-m);
  }

  .notification {
    color: var(--sb-color-red);
    margin-top: 0;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .required-field {
    border: 1px solid var(--sb-color-red);
  }

  &__title {
    font-size: var(--sb-font-size-s);
    font-style: italic;
    letter-spacing: 0;
  }

  &__category {
    font-style: italic;
  }

  &__image-input {
    border-radius: var(--sb-border-radius-m);
  }

  &__content {
    width: inherit;
    min-height: 214px;
    resize: vertical;
  }
}
