.menu {
  margin-left: auto;

  &__list {
    margin: 1rem 0;
    padding: 0;

    display: inline-flex;
    gap: 2rem;
  }

  &__list-item {
    list-style: none;
  }

  &__link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
    text-decoration: none;
    display: block;

    &::after {
      content: '';
      display: block;
      background-color: #e95e30;
      height: 2px;
      width: 49px;
      margin-top: 3px;
    }
  }
}
